<div style=" display: flex;">
  <span style=" color: #62ab00; font-weight: bold;">{{ item.line_price | money }}</span>
  <span style=" color: gray; text-decoration: line-through; ">{{ item.product.compare_at_price | money }}</span>

  <div class="label-product label_sale" style="font-size: 100%;">
    <span
      >-
      {{-
        item.product.compare_at_price
        | minus: item.line_price
        | times: 100.0
        | divided_by: item.product.compare_at_price
        | round
      -}}
      %</span
    >
  </div>
</div>
