<div
  id="overlay-custom-bg"
  style="
    width: 0;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 24;
    background-color: rgba(0, 0, 0, 0.4);
  "
></div>
<script></script>
