<style></style>

<div>
  <span style="color: #8ABD1E; font-weight: bold;">Code: </span>
  <span style="color: #A6A6A6; "> {{ product.variants.first.sku }} |</span>
  {% if pages != '' %}
    <span style="color: #8ABD1E; font-weight: bold;">Pages: </span>
    <span style="color: #A6A6A6; ">{{ pages }}</span>
  {% endif %}
  <!--
    Category:
    <span style="color: #A6A6A6; ">{{ catvar }}</span>
    Sub-Category:
    <span style="color: #A6A6A6; ">{{ subcatvar }}</span>
  -->
</div>
