<div
  style="
       display: flex;
    gap: 0.2em;
       margin-bottom: 1em;
  "
>
  {% if item.product.price < item.product.compare_at_price %}
    <span style=" color: #62ab00; font-weight: bold;">{{ item.product.price | money }}</span>
    <span style=" color: gray; text-decoration: line-through; ">{{ item.product.compare_at_price | money }}</span>

    <div class="label-product label_sale" style="">
      <span
        >-
        {{-
          item.product.compare_at_price
          | minus: item.product.price
          | times: 100.0
          | divided_by: item.product.compare_at_price
          | round
        -}}
        %</span
      >
    </div>

  {% else %}
    <span style=" color: #62ab00; font-weight: bold;">{{ item.line_price | money }}</span>
  {% endif %}
</div>
