{% comment %}
  <style>
      .parent-div {
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .child-div {
        padding: 2rem;
        height: 50rem;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background: white;
        margin: auto;
      }

      .top-div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        position: relative;
      }

      .popuplogo {
        height: 5rem;
        width: 9rem;
      }

      .head-one {
        font-size: 2.5rem;
        font-weight: 900;
        color: black;
      }

      .head-two {
        font-size: 2.2rem;
        font-weight: 900;
        color: green;
      }

      .head-three {
        color: black;
        margin-left: 0.4rem;
      }

      .para {
        opacity: .5;
      }

      .middle-div {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-top: 5rem;
        width: auto !important;
      }

      .number-field {
        color: black;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        border: none;
        border-bottom: 2px solid black;
        width: 25rem;
        text-align: center;
        padding: 1.1rem;
        font-size: 2.0rem;
        font-weight: bold;
        letter-spacing: 1px;
      }

      .otp-btn {
        margin: 0 auto;
        width: 20rem;
        height: 5rem;
        color: white;
        font-weight: 900;
        background-color: black;
        border: 1px solid black;
        border-radius: 5rem;
        opacity: 0.5;
      }

      .last-div {
        margin-top: 5rem;
        display: flex;
        justify-content: center;
        align-item: center;
        flex-direction: column;
        text-align: center;
        z-index: -5;
        transform: translateX(-120rem);
      }

      .otp-parent {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 3rem;
      }

      .phone-number {
        font-size: 1.6rem;
        opacity: .5;
      }

      .otp {
        background: none !important;
        border: none;
        border-bottom: 2px solid black;
        width: 6rem;
        height: 6rem;
        text-align: center;
        font-size: 3.5rem;
      }

      input::-webkit-outer-spin-button,
      input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }

      .download-btn {
        margin-top: 4rem;
      }

      .resend-para {
        margin-top: 3rem;
        font-size: 1.3rem;
        opacity: .8;
        font-weight: 900;
      }

      .resend-otp {
        color: green;
        margin-left: 4px;
      }

      .cross {
        position: absolute;
        top: -6rem;
        right: 2rem;
        font-size: 3rem;
        color: black;
        font-weight: normal;
        cursor: pointer;
        z-index: 1000;
      }

    /*   .animate-one {
        z-index: -5;
        display: none;
        transition: all .5s;
      }

      .animate-two {
        display: block !important;
        transform: translate(0);
        transition: all .1s;
        z-index: 5;
        animation-name: swap;
        animation-duration: 2s;
      }

      .child-div-increase {
        height: 60rem;
      }
     */
      @keyframes swap {
        10% {
          visibility: hidden;
        }

        80% {
          visibility: visible;
        }

        100% {
          visibility: visible;
        }
      }

      @media screen and (max-width: 500px) {
        .child-div {
          height: 45rem;
          width: 35rem;
        }

        .head-two {
          font-size: 2rem;
        }

        .otp-btn {
          width: 15rem;
          margin-top: 0;
        }

        .number-field {
          width: 20rem;
        }

        .last-div {
          margin-top: 2rem;
        }

        .cross {
          top: -1rem;
          right: 0;
        }

        .otp-parent {
          gap: 1.5rem;
        }

        .otp {
          width: 3.5rem;
          height: 3.5rem;
          font-size: 2.5rem;
        }
      }
  </style>
{% endcomment %}

<div
  class="modal fade"
  data-backdrop="static"
  id="LoginPopUp"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document" style="padding-top: 8em;">
    <div class="parent-div" id="otp-form-login">
      <div class="child-div" id="child-div-login">
        <div
          class="closeicon"
        >
          <span
            onclick="hidePopup('#LoginPopUp')"

            data-dismiss="modal"
            aria-label="Close"
          >
            <svg
              Style=" width: 2em; height: 2em;"
              xmlns="http://www.w3.org/2000/svg"
              height="1em"
              viewBox="0 0 384 512"
            >
              <!--! Font Awesome Free 6.4.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><style>svg{fill:#383838}</style><path d="M342.6 150.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L192 210.7 86.6 105.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L146.7 256 41.4 361.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L192 301.3 297.4 406.6c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L237.3 256 342.6 150.6z"/>
            </svg>
          </span>
        </div>
        <div class="top-div">
          <img class="popuplogo" src="{{ 'Exlogo.jpg' | asset_url }}" loading="lazy" alt="Examcart logo">

          <!-- <div class="head-one">Verify your number</div> -->
           <!-- <p class="para">We will get you the best deal for best shopping experience</p> -->
          <div class="head-one" style="margin:0.5em">Claim Your Benefits</div>
          <p class="para">Get access to <span style="text-decoration:underline">unlimited pdf's,</span> exam notifications, great discounts and best shopping experience!</p>
        </div>

        <div class="middle-div" id="middle-div-login">
          <input
            type="tel"
            id="number-login"

            maxlength="10"
            pattern="[0-9]{10}"
            class="number-field"
            placeholder="Enter mobile no."
            onkeyup="validateLength('otp-btn-login','#number-login')"
            oninput="onlyNum('number-login')"
            required
          >
          <br>
          <button
            class="otp-btn"
            id="otp-btn-login"
            onclick="sendOtp('number-login','phone-number-login','middle-div-login','last-div-login','child-div-login', 'WrongOtp', 'sendOtpMessage', 'none', 'none')"
            disabled
            style="background-color:black"
          >
            Get OTP
          </button>
        </div>
        <div class="last-div" id="last-div-login" style="display: none; margin: 1em">
          <!-- <p class="phone-number">Enter the OTP sent to +91<span id="phone-number-login"></span></p> -->
          <p class="phone-number">OTP is sent on +91<span id="phone-number-login"></span></p>

          <p class="wrong-otp-error" id="WrongOtp">Wrong OTP!</p>
          <p class="resend-otp-message" id="sendOtpMessage">OTP sent</p>
          <div class="otp-parent">
            <input
              class="otp otp-form login"

              maxlength="1"
              pattern="[0-9]"
              type="tel"
              data-index="0"
            >
            <input
              class="otp otp-form login"
              maxlength="1"

              pattern="[0-9]"
              type="tel"
              data-index="1"
            >
            <input
              class="otp otp-form login"
              maxlength="1"
              pattern="[0-9]"
              type="tel"
              data-index="2"
            >
            <input
              class="otp otp-form login"
              maxlength="1"
              pattern="[0-9]"
              type="tel"
              data-index="3"
            >
            <input
              class="otp otp-form login"
              maxlength="1"
              pattern="[0-9]"
              type="tel"
              data-index="4"
            >
            <input
              class="otp otp-form login"
              maxlength="1"
              pattern="[0-9]"
              type="tel"
              data-index="5"
            >
          </div>
          <!-- <p class="resend-para"> -->
            <!-- Didn't receive the OTP? <span onclick="resendOtpSms()" class="resend-otp">Resend OTP</span> -->
            <!-- Didn't receive the OTP? <span onclick="resendOtpSms()" class="resend-otp">Resend OTP</span> -->
          <!-- </p> -->
          <p><span onclick="changePhoneNum()" style="color: blue">Change mobile no.</span> | <span onclick="resendOtpSms()" style="color: blue">Resend OTP</span></p>
          <br>
          <button
            class="download-btn"
            id="download-btn-login"
            onclick="verifyOtp('#LoginPopUp', 'otp1-login', 'otp2-login', 'otp3-login', 'otp4-login', 'otp5-login', 'otp6-login')"
            style="opacity: 1;"
          >
            Verify OTP<span id="download-icon-login"><i class="bi bi-arrow-down-circle"></i></span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<script>


 function changePhoneNum(){
    document.getElementById('number-login').value = '';

 // document.getElementById(wrongOtpId).style.display = "none";
 //   document.getElementById(sendOtpId).style.display = "none";
   
 document.getElementById(middlediv).classList.remove("animate-one");
  document.getElementById(lastdiv).classList.remove("animate-two");
  document.getElementById(childdiv).classList.remove("child-div-increase");

  }




  
 const $login = $(".login");

$login.on({
  paste(ev) { // Handle Pasting
    const clip = ev.originalEvent.clipboardData.getData('text').trim();
    const isSixDigits = /^\d{6}$/.test(clip);
    
    if (!isSixDigits) {
      ev.preventDefault();
      return; // Invalid. Exit here
    }

    setTimeout(() => {
      const s = [...clip];
      $login.val((_, i) => s[i]).eq(5).focus();
    }, 0);
  },
  input(ev) { // Handle typing
    const i = $login.index(this);
    if (this.value) $login.eq(i + 1).focus();
  },
  keydown(ev) { // Handle Deleting
    const i = $login.index(this);
    if (!this.value && ev.key === "Backspace" && i) $login.eq(i - 1).focus();
  }
});

</script>

<script>
     // const inp = document.getElementById("number-login");
     //onlynum(document.getElementById("number-login"));

     // function addList(input) {

     //     input.addEventListener("input", () => {
     //       const code = parseInt(input.value);
     //       if (code >= 0 && code <= 9) {

     //       } else {
     //         input.value = "";
     //       }
     //   });
     // }

     // function onlyNum(numId) {

     //   input= document.getElementById(numId);

     //     const value = input.value;
     //     const cleanedValue = value.replace(/\D/g, ""); // Remove non-numeric characters
     //     input.value = cleanedValue;

     // }


  //      const inputs = ['otp1-login', 'otp2-login', 'otp3-login', 'otp4-login', 'otp5-login', 'otp6-login'];

  //      inputs.map((id) => {
  //        const input = document.getElementById(id);
  //        addListener(input);
  //      });

  //      function addListener(input) {
  //        input.addEventListener("input", () => {
  //          const code = parseInt(input.value);
  //          if (code >= 0 && code <= 9) {
  //            const n = input.nextElementSibling;
  //            if (n) n.focus();
  //          } else {
  //            input.value = "";
  //          }

  //    const key = event.key; // const {key} = event; ES6+
  //     if (key === "Backspace" || key === "Delete") {
  //       const prev = input.previousElementSibling;
  //       if (prev) {



  //         prev.focus();



  //                 }

  //     }
  //   });
  // }


     //   input.addEventListener("paste", (event) => {
     //   event.preventDefault();
     //   const pastedText = event.clipboardData.getData('text');
     //   if (pastedText.length === 6) {
     //     for (let i = 0; i < 6; i++) {
     //       const currentInput = document.getElementById(inputs[i]);
     //       const code = parseInt(pastedText[i]);
     //       if (code >= 0 && code <= 9) {
     //         currentInput.value = code;
     //       } else {
     //         currentInput.value = "";
     //       }
     //     }
     //   }
     // });
</script>

<!--
  <script>
      // document.getElementById("middle-div-login").classList.add("animate-one");
      // document.getElementById("last-div-login").classList.add("animate-two");
      // document.getElementById("child-div-login").classList.add("child-div-increase");



          const inputsLogin = document.querySelectorAll(".otp-form"),

          buttonLogin = document.querySelector("#otp-btn-login");

        inputsLogin.forEach((input, index1) => {
          input.addEventListener("keyup", (e) => {
            const currentInput = input,
              nextInput = input.nextElementSibling,
              prevInput = input.previousElementSibling;
            if (currentInput.value.length > 1) {
              currentInput.value = "";
              return;
            }
            if (nextInput && nextInput.hasAttribute("disabled") && currentInput.value !== "") {
              nextInput.removeAttribute("disabled");
              nextInput.focus();
            }
            if (e.key === "Backspace") {
              inputsLogin.forEach((input, index2) => {
                if (index1 <= index2 && prevInput) {
                  input.setAttribute("disabled", true);
                  input.value = "";
                  prevInput.focus();
                }
              });
            }
            if (!inputsLogin[3].disabled && inputsLogin[3].value !== "") {
              buttonLogin.classList.add("active");
              return;
            }
            buttonLogin.classList.remove("active");
          });
        });
    document.getElementsByClassName('wrong-otp-error').addEventListener("click", () => inputsLogin[0].focus());
      document.getElementById("otp-btn-login").addEventListener("click", () => inputsLogin[0].focus());
  </script>
-->
