<style>
    .newsletter-slider {
          margin-top: 4em;
          padding-top:0.5em;
          height: 100%;
          width: 0;
          position: fixed;
          z-index: 24;
          top: 0;
          right: 0;
          background-color: white;
          overflow-x: hidden;
          transition: 0.5s;
        }

    .newspopup{
  z-index: 25;
       position: absolute;
    margin-top: 1em;

       right: 0.5em;
    }
</style>
<div id="newsletter-slider" class="newsletter-slider">
  <div
    style="
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
    "
  >
    <svg class="newspopup" style="fill: white;" xmlns="http://www.w3.org/2000/svg" height="1.5em" viewBox="0 0 384 512">
      <!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M342.6 150.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L192 210.7 86.6 105.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L146.7 256 41.4 361.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L192 301.3 297.4 406.6c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L237.3 256 342.6 150.6z"/>
    </svg>

    <img
      src="{{ 'Current 2x.png' | asset_url }}"
      alt="logo"
      class="exlogo-image"
      style=" height: 100%;    width: 100%;"
    >
    <h2 style="color: #0ec50e; margin: 0.5em 2em; text-align: center;">GET YOUR FREE E-BOOK NOW!</h2>
    <P style="margin: 1em 2em; text-align: center; "
      >Study best Current affairs of August 2023 with this monthly current affairs e-book</P
    >
    <div
      style="
        width: 100%;      display: flex;
        justify-content: center;    align-items: center;
        flex-direction: column;
      "
      id="send-otp-newsletter"
    >
      <input
        style="
          width: 70%;
          background-color: #ebebeb;
          padding: 1em 0.5em;
          margin-bottom: 0px;
          text-align: center;
          letter-spacing: 2px;
          font-size: 1.2rem;
          border-radius: 5px;
          border: 1px solid #0ec50e;
        "
        type="tel"
        placeholder="Enter Mobile Number"
        maxlength="10"
      >
      <br>
      <buttom
        onclick="sendOtpNewsletterSlider()"
        style="width: 70%; color: white; background-color: #0ec50e;     padding: 0.8em 0.5em; text-align: center; border-radius: 5px;"
      >
        Get OTP
      </buttom>
    </div>
    <div
      id="otp-verify-newsletter"
      style="
        width: 100%;    display: none;
        justify-content: center;     align-items: center;
        flex-direction: column;
      "
    >
      <input
        style="
          width: 70%;
          background-color: #ebebeb;
          padding: 1em 0.5em;
          margin-bottom: 0px;
          text-align: center;
          letter-spacing: 2px;
          font-size: 1.2rem;
          border-radius: 5px;
          border: 1px solid #0ec50e;
        "
        type="tel"
        placeholder="Verify OTP"
        maxlength="6"
      >
      <p style="text-align: center;"><a onclick="">Resend OTP</a> | <a onclick="">Change Mobile No.</a></p>
      <buttom style="width: 70%; color: white; background-color: #0ec50e;     padding: 0.8em 0.5em; text-align: center; border-radius: 5px;">
        Download PDF
        <svg style="fill: white;" xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 512 512">
          <!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M288 32c0-17.7-14.3-32-32-32s-32 14.3-32 32V274.7l-73.4-73.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l128 128c12.5 12.5 32.8 12.5 45.3 0l128-128c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L288 274.7V32zM64 352c-35.3 0-64 28.7-64 64v32c0 35.3 28.7 64 64 64H448c35.3 0 64-28.7 64-64V416c0-35.3-28.7-64-64-64H346.5l-45.3 45.3c-25 25-65.5 25-90.5 0L165.5 352H64zm368 56a24 24 0 1 1 0 48 24 24 0 1 1 0-48z"/>
        </svg>
      </buttom>
    </div>
  </div>
</div>
<script>
  function openNewsletter() {
            document.getElementById("newsletter-slider").style.width = "80%";
          }

   function closeNewsletter() {
            document.getElementById("newsletter-slider").style.width = "0";
          }


    function sendOtpNewsletterSlider(){

    document.getElementById("send-otp-newsletter").style.display = "none";
    document.getElementById("otp-verify-newsletter").style.display = "flex";
    }
</script>
