<script>
  
  
  
  
  
  
  
  
  
  
  
  

  // JavaScript code goes here
  
  let otp = '';


  
  let getResponseBuy = {};
  let middleDivBuy = document.getElementById("middle-div-buy");
  let lastDivBuy = document.getElementById("last-div-buy");
  let childdivBuy = document.getElementById("child-div-buy");

  let mobNumber = "";

function validateLength(ref) {
  const myInput = document.querySelector("#number-buy");
  if (myInput.value.length == 10) {
    document.getElementById(ref).disabled = false;
    document.getElementById(ref).style.opacity = "1";
  } else {
    document.getElementById(ref).disabled = true;
    document.getElementById(ref).style.opacity = "0.5";
  }
}

function randomOtp(){

    otp = Math.floor(100000 + Math.random() * 900000);
    console.log(otp);
  
};



function sendOtp(phoneNumberId,showPhoneNumberId) {
  
  randomOtp();
  mobNumber = document.getElementById(phoneNumberId).value;


  
  middleDivBuy.classList.add("animate-one");
  lastDivBuy.classList.add("animate-two");
  childdivBuy.classList.add("child-div-increase");
  document.getElementById(showPhoneNumberId).innerHTML = mobNumber;
  navigator.sendBeacon(`https://bhartipur.in:5000/send_otp_get/${mobNumber}/${otp}`)
  
}

function showPopup(popupId){
  
  $(popupId).modal('show');
  
}
  
function hidePopup(popupId){


  $(popupId).modal('hide');
  
}



 function verifyOtp (popupId) {


    
  let otpInput1 = document.getElementById("otp1-buy").value;
  let otpInput2 = document.getElementById("otp2-buy").value;
  let otpInput3 = document.getElementById("otp3-buy").value;
  let otpInput4 = document.getElementById("otp4-buy").value;
  let otpInput5 = document.getElementById("otp5-buy").value;
  let otpInput6 = document.getElementById("otp6-buy").value;
  let finalOtp = otpInput1.toString() + otpInput2.toString() + otpInput3.toString() + otpInput4.toString() + otpInput5.toString() + otpInput6.toString();
  let parseOtp = parseInt(finalOtp);
  if (parseOtp == otp) {
    localStorage.setItem("globalOtpKey", phoneNumber);
 

    


switch (popupId) {
  case "#LoginPopUp": {
      hidePopup(popupId);
      window.location.reload();
      break;
      
    }
    
   case "#BuyNow": {

 const element = document.querySelector("#button-cart-buy");

      // Create a new click event
      const clickEvent = new MouseEvent("click", {
        bubbles: true,
        cancelable: true,
        view: window
      });
      
      // Dispatch the click event on the element
      element.dispatchEvent(clickEvent);
       element.dispatchEvent(clickEvent);
    break;
      
    }
     
        

    
    default:
     hidePopup(popupId);
}

   
       
    
  } else {
    alert("fail");
  }
};



<div
            class="modal fade"
            id="myModal2"
            data-backdrop="static"
            tabindex="-1"
            role="dialog"
            aria-labelledby="exampleModalCenterTitle"
            aria-hidden="true"
          >
            <div class="modal-dialog modal-dialog-centered" role="document" style="padding-top: 150px;">
              <div id="mod">
                <div class="parent-div" id="otp-form-add-to-cat">
  <div class="child-div" id="child-div-add-to-cat">
    <div class="top-div">
      <img class="popuplogo" loading="lazy" src="{{ 'Exlogo_png.jpg' | asset_url }}" alt="this place is for image">

      <div class="head-one">Get Free Access to</div>
      <div class="head-two">Latest Current Affairs<span class="head-three">E-book!</span></div>
      <p class="para">We will send you one time password to your mobile number.</p>
    </div>
    <div class="middle-div" id="middle-div-add-to-cat">
      <input
        type="number"
        id="number-add-to-cat"
        class="number-field"
        placeholder="Enter Mobile Number"
        onkeyup="validateAddToCat()"
        required
      >
      <br>
      <button class="otp-btn" id="otp-btn-add-to-cat" onclick="otpSendAddToCat()" disabled>Get OTP</button>
    </div>
    <div class="last-div" id="last-div-add-to-cat" style="display: none;">
      <p class="phone-number">Enter the OTP sent to +91<span id="phone-number-add-to-cat"></span></p>
      <br>
      <div class="otp-parent">
        <input class="otp otp-form" type="number" id="otp1-add-to-cat">
        <input class="otp otp-form" type="number" id="otp2-add-to-cat" disabled>
        <input class="otp otp-form" type="number" id="otp3-add-to-cat" disabled>
        <input class="otp otp-form" type="number" id="otp4-add-to-cat" disabled>
        <input class="otp otp-form" type="number" id="otp5-add-to-cat" disabled>
        <input class="otp otp-form" type="number" id="otp6-add-to-cat" disabled>
      </div>
      <p class="resend-para">Don't you receiver the OTP?<span class="resend-otp">Resend OTP</span></p>
      <br>
      <button
        class="otp-btn download-btn"
        id="download-btn-add-to-cat"
        onclick="downloadBtnAddToCat()"
        style="opacity: 1;"
      >
        Verify OTP<span id="download-icon-add-to-cat"><i class="bi bi-arrow-down-circle"></i></span>
      </button>
    </div>
  </div>
</div>

              </div>
            </div>
          </div>


  
// const inputsBuy = document.querySelectorAll(".otp-form"),
  
//  const buttonBuy = document.querySelector("#otp-btn-buy");

// inputsBuy.forEach((input, index1) => {
//   input.addEventListener("keyup", (e) => {
//     const currentInput = input,
//       nextInput = input.nextElementSibling,
//       prevInput = input.previousElementSibling;
//     if (currentInput.value.length > 1) {
//       currentInput.value = "";
//       return;
//     }
//     if (nextInput && nextInput.hasAttribute("disabled") && currentInput.value !== "") {
//       nextInput.removeAttribute("disabled");
//       nextInput.focus();
//     }
//     if (e.key === "Backspace") {
//       inputsBuy.forEach((input, index2) => {
//         if (index1 <= index2 && prevInput) {
//           input.setAttribute("disabled", true);
//           input.value = "";
//           prevInput.focus();
//         }
//       });
//     }
//     if (!inputsBuy[3].disabled && inputsBuy[3].value !== "") {
//       buttonBuy.classList.add("active");
//       return;
//     }
//     buttonBuy.classList.remove("active");
//   });
// });

// window.addEventListener("load", () => inputsBuy[0].focus());

/////////////////////////////////////////////////////////////////////////////////////////


  
// openModalBuy = () => {
//   document.getElementById("otp-form-buy").style.display = "block";
// };

// clearAllFormBuy = () => {
//   let otpInput1 = document.getElementById("otp1-buy");
//   let otpInput2 = document.getElementById("otp2-buy");
//   let otpInput3 = document.getElementById("otp3-buy");
//   let otpInput4 = document.getElementById("otp4-buy");
//   let otpInput5 = document.getElementById("otp5-buy");
//   let otpInput6 = document.getElementById("otp6-buy");

//   otpInput1.value = "";
//   otpInput2.value = "";
//   otpInput3.value = "";
//   otpInput4.value = "";
//   otpInput5.value = "";
//   otpInput6.value = "";

//   lastDivBuy.classList.remove("animate-two");
//   middleDivBuy.classList.remove("animate-one");
//   document.getElementById("number-buy").value = "";
//   let mainClass = document.querySelector(".modal-backdrop");
//   mainClass.style.display = "none";
//   document.getElementById("LoginPopUp").style.display = "none";
  
// };


















</script>
