<style>
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {

    margin-top: 3.5em;
    margin-right: 1em;
    display: none;
    position: fixed;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1000;
    right: 0;

  }



  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd;}

  /* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
  .show {display:block;}
</style>
{% include 'custom-functions-popup' %}
<div id="myDropdown" class="dropdown-content">
  <a id="login"
    ><span>{{ 'login' }}</span></a
  >

  <a id="myAccount" onclick="myAccount()"
    ><span>{{ 'My account' }}</span></a
  >

  <a id="logout" onclick="logOut()">
    <span>{{ 'Log out' }}</span>
  </a>
</div>

<script>
    function logOut(){

       localStorage.removeItem('globalOtpKey');
       window.location.reload();
    }
    function myMenu() {



       if(localStorage.getItem("globalOtpKey")== null)
       {

  document.getElementById("myAccount").style.display = "none";

           document.getElementById("logout").style.display = "none";

       }else  {

        document.getElementById("login").style.display = "none";


       }


      document.getElementById("myDropdown").classList.toggle("show");
    }

    // Close the dropdown menu if the user clicks outside of it
    window.onclick = function(event) {
      if (!event.target.matches('.dropbtn')) {
        var dropdowns = document.getElementsByClassName("dropdown-content");
        var i;
        for (i = 0; i < dropdowns.length; i++) {
          var openDropdown = dropdowns[i];
          if (openDropdown.classList.contains('show')) {
            openDropdown.classList.remove('show');
          }
        }
      }
    }
</script>
