<div id="instagram_block_home" class="block instagram-container">
  {% if section.settings.insta_title != blank%}
    <div class="module-title">
      <h2>{{ section.settings.insta_title }}</h2>
    </div>
  {% endif %}
  <div class="content_block owl-carousel owl-theme" id="instafeed">
    {% if section.settings.fetch_mode == 'manual' and section.blocks.size > 0 %}
    {% for block in section.blocks %}
    {% if block.settings.link != blank %}          
    <a target='_blank' href="{{ block.settings.link }}" {{ block.shopify_attributes }}>
      {% endif %}
      {% if block.settings.image != blank %}
      <img src="{{ block.settings.image | img_url: 'master' }}" alt="" class="fancybox img-responsive {% if settings.lazyloading_enable %}lazyload{% endif %}" />
      {% endif %}
      {% if block.settings.link != blank %}          
    </a>
    {% endif %}
    {% endfor %}
    {% endif %}
  </div>
</div>