<div class="logo-container">
  <div id="logo"  {% if section.settings.logo_padding != '20px 0px 20px 0px' %}style="margin-left: 5px;     padding: 8px 0;"{% endif %}>
    {% if section.settings.logo %}
    <a href="/" itemprop="url">
      <img src="{{ section.settings.logo | img_url: 'master' }}"
           alt="{{ section.settings.logo.alt | default: shop.name }}"
           itemprop="logo" class="img-responsive logo"  />
    </a>
    {% else %}
    <a href="/" itemprop="url" class="navbar-brand img-responsive-p">{{ shop.name }}</a>
    {% endif %}  
  </div>
</div>