<style>
    .parent-newsletter{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;
        margin-top: -9rem;
    }
    .child-newsletter{
        display: flex;
        font-family: Arial, Helvetica, sans-serif;
        align-items: center;
        flex-direction: column;
        background-color: rgb(236, 233, 233);
        height: 55rem;
        padding: 1.5rem;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    }
    .top-div-newsletter{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;

    }
    .middle-div-newsletter{
        display: flex;
        justify-content: center;
        margin-top: 1rem;

        margin-bottom: 1rem;
        width: 100%;
    }
    .otp-design-newsletter{

    }
    .otp-design-newsletter-image{
        width: 13.7rem;

    }
   .otp-design-newsletter-image img{
    height: 13rem;
  }
    .mockup-image{
            display: block;
            max-width: 100%;
            mix-blend-mode: multiply;
            max-height: 100%;
        }
    .download-txt-head{
        font-size: 2rem;

    }
    .free-txt{
        font-weight: 900;
        color: green;
    }
    .current-affairs-txt{
        font-size: 1.5rem;
        font-weight: 900;
    }
    .verify-txt{
        display: none;
        margin-top: 2rem;
        font-size: 2rem;
        margin-bottom: 1rem;
    }
    .download-para-txt{
        font-size: 1rem;
    }
    .enter-mobile-number{
        font-size: 1.5rem;
        margin-bottom: 1rem;
    }
    .input-field-newsletter{
        height: 1.9rem;
        width: 15rem;
        margin-top: .5rem;
        margin-bottom: 1.5rem;
        border: none;
    }
    .get-otp-btn-div{
        width: 75%;
        text-align: center;
    }


    .otp-input-field{
        margin-top: .5rem;
        height: 1.9rem;
        width: 15rem;
        margin-bottom: .5rem;
        border: none;
    }
    .dont-receive-otp{
        font-size: .9rem;
    }
    .resend-otp-btn{
        color: green;
    }
    .download-pdf-btn-newsletter{
        margin-top: 3rem;
        width: 15rem;
        height: 3rem;
        border: 1px solid;
        border-radius: 2rem;
        color: white;
        background-color: black;
        cursor: pointer;
    }
    .download-pdf-txt{
       display: flex;
       justify-content: center;
       flex-direction: column-reverse;
    }
    .exlogo-image{
        height: 4rem;

    }
    .cross{
        vertical-align: top;
        cursor: pointer;
    }

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
  .wrong-otp{
    display: none;
    color: red;
    text-align: center;

  }
</style>

<div
  class="modal fade"
  id="news-letter-popup"
  data-backdrop="static"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document" style="padding-top: 150px;">
    <div class="parent-newsletter" id="parent-newsletter">
      <div class="child-newsletter">
        <div class="top-div-newsletter">
          <div class="examcart-logo-img">
            <img src="{{ 'Exlogo.jpg' | asset_url }}" alt="logo" class="exlogo-image">
          </div>
          <div
            class="closeicon"
          >
            <span
              onclick="hidePopup('#LoginPopUp')"

              data-dismiss="modal"
              aria-label="Close"
            >
              <svg
                Style=" width: 1.5em; height: 1.5em;"
                xmlns="http://www.w3.org/2000/svg"
                height="1em"
                viewBox="0 0 384 512"
              >
                <!--! Font Awesome Free 6.4.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><style>svg{fill:#383838}</style><path d="M342.6 150.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L192 210.7 86.6 105.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L146.7 256 41.4 361.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L192 301.3 297.4 406.6c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L237.3 256 342.6 150.6z"/>
              </svg>
            </span>
          </div>
        </div>

        <div class="middle-div-newsletter">
          <div class="otp-design-newsletter">
            <span class="download-txt-head">Download for <span class="free-txt">FREE</span></span>
            <br>
            <span class="current-affairs-txt">Current Affairs E-Book</span>
            <div class="verify-txt" id="verify-txt">Verify your number</div>
            <div class="download-para-txt">Download July 2023 monthly current</div>
            <div class="download-para-txt">affairs e-book for all competitive exams.</div>
            <br>
            <label class="enter-mobile-number">Enter Mobile Number</label>

            <input
              type="tel"
              class="input-field-newsletter"
              onkeyup="validateLength('news-popup-otp-btn','#news-letter-number')"
              oninput="onlyNum('news-letter-number')"
              maxlength="10"
              id="news-letter-number"
            >
            <br>

            <div class="get-otp-btn-div">
              <button
                class="otp-btn"
                style="padding-top: 1em; padding-bottom: 1em;"
                id="news-popup-otp-btn"
                onclick="newsLetterSendOtp()"
                disabled
              >
                Get OTP
              </button>
              <button class="get-btn" id="otp-btn" onclick="newsLetterSendOtp()">Get OTP</button>
            </div>
            <br>
            <span class="wrong-otp" id="wrong-otp-txt">Wrong OTP!</span>
            <label for="Verify" class="verify-otp">Verify OTP</label>
            <br>
            <input type="num" class="otp-input-field" id="otp1">
            <div class="dont-receive-otp">
              Didn't you receive the OTP?
              <span class="resend-otp-btn" onclick="resendOtp()" style="cursor: pointer;">Resend OTP</span>
            </div>
          </div>
          <div class="otp-design-newsletter-image">
            <img src="{{ 'Mockup.jpg' | asset_url }}" alt="image" class="mockup-image">
          </div>
        </div>

        <div class="lower-div-newsletter">
          <button class="download-pdf-btn-newsletter get-btn">
            <span class="download-pdf-txt cross" onclick="downloadBtn()">Download PDF </span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
   let phoneNumber ;
  
  function validateL(buttonShowAndHide, getlength) {
  //  console.log(buttonShowAndHide, getlength)
  const myInput = document.querySelector(getlength);
  if (myInput.value.length == 10) {
    document.getElementById(buttonShowAndHide).disabled = false;
    document.getElementById(buttonShowAndHide).style.opacity = "1";
  } else {
    document.getElementById(buttonShowAndHide).disabled = true;
    document.getElementById(buttonShowAndHide).style.opacity = "0.5";
  }
}
  
  
  function newsLetterSendOtp(){
randomOtp();
     document.getElementById('verify-txt').style.display = "block";
    phoneNumber = document.getElementById("news-letter-number").value;


let url = `https://bhartipur.in/send_otp_get/${phoneNumber}/${smsotp}`;
       fetch(url).then(response => {
          if (!response.ok) {
            throw new Error('Network response was not ok');
          }
        })
        .then(data => {
          console.log(data);
        })
        .catch(error => {
          console.error('Error:', error);
        });
    
  }
  
  
//       let serverOtp = '';
//   otpMaker = () =>{
//      serverOtp = Math.floor(Math.random() * 9000 + 1000);
//   }
//   otpMaker();
//        let getResponse = {};
  
//       let phoneNumber = "";
  
    //   otpSend = () => {
    // randomOtp();
    //     document.getElementById('verify-txt').style.display = "block";
    //       phoneNumber = document.getElementById("number").value;
          
    //      fun();
    //   }
      validate = () =>{
        const myInput = document.querySelector('#news-letter-number');

         console.log(myInput)
        if(myInput.value.length == 10) {
            document.getElementById("otp-btn").disabled = false;
          document.getElementById("otp-btn").style.opacity = "1";
          
        }
        else{
           document.getElementById("otp-btn").disabled = true;
           document.getElementById("otp-btn").style.opacity = "0.5";
        }
      }

//       async function fun(){
//         let url = `https://bhartipur.in:5000/send_otp_get/${phoneNumber}/${serverOtp}`;
//        fetch(url).then(response => {
//           if (!response.ok) {
//             throw new Error('Network response was not ok');
//           }
//         })
//         .then(data => {
//           console.log(data);
//         })
//         .catch(error => {
//           console.error('Error:', error);
//         });
//       }


  

    downloadBtn = () =>{
        let otpInput1 = document.getElementById('otp1').value;
        let finalOtp = otpInput1.toString() 
        let parseOtp = parseInt(finalOtp);
        if(parseOtp == smsotp){
         
          localStorage.setItem("globalOtpKey", phoneNumber);
            hidePopup('#news-letter-popup');
        }
        else{
          
          document.getElementById('wrong-otp-txt').style.display = "block";
        }
    }


// clearAllForm = () => {
//    let otpInput1 = document.getElementById('otp1').value;
//   otpInput1 = "";
//   document.getElementById('number').value = ""; 
// }
// closeModal = () =>{
//   clearTimeout(idSetTimeOut);
//   clearAllForm();
//   document.getElementById('myModal1').style.display = 'none';
  
// }
// resendOtp = () =>{
//     otpMaker();
//     otpSend();
// }






// closeModal = () =>{
//   clearTimeout(idSetTimeOut);
//   clearAllForm();
//   document.getElementById('news-letter-popup').style.display = 'none';
  


// function newsl(){
//   // document.getElementById('news-letter-popup').style.display = 'block';
//     showPopup('#news-letter-popup')
// }

  












































</script>
