<style>
  .parent-div{
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .child-div{
      padding: 2rem;
      height: 50rem;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      background: white;
      margin: auto;
    }
    .top-div{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      text-align: center;
      position: relative;
    }
   .popuplogo {
    height: 5rem;
    width: 9rem;
  }

    .head-one{
       font-size: 2.5rem;
      font-weight: 900;
    }
    .head-two{
      font-size: 2.2rem;
      font-weight: 900;
      color: green;
    }
    .head-three{
      color: black;
      margin-left: 0.4rem;
    }
    .para{
      opacity: .5;
    }
    .middle-div{
      display: flex;
      justify-content: center;
      alig-items: center;
      flex-direction: column;
      margin-top: 5rem;
      width: 60%;

    }
    .number-field{
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0 auto;
      border: none;
      border-bottom: 2px solid black;
      width: 25rem;
      text-align: center;
    }
    .number-field[type="number"]{
      padding: 1.5rem;
      font-size: 1.7rem;
    }
    .otp-btn{
      margin: 0 auto;
      width: 20rem;
      height: 5rem;
      color: white;
      font-weight: 900;
      background-color: black;
      border: 1px solid black;
      border-radius: 5rem;
      opacity: 0.5;
    }
    .last-div{
      margin-top: 5rem;
      display: flex;
      justify-content: center;
      align-item: center;
      flex-direction: column;
      text-align: center;
      z-index: -5;
      transform: translateX(-120rem);
    }
    .otp-parent{
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 3rem;
    }
    .phone-number{
      font-size: 1.6rem;
       opacity: .5;
    }
    .otp{
      background: none !important;
      border: none;
      border-bottom: 2px solid black;
      width: 6rem;
      height: 6rem;
      text-align: center;
    }
    .otp[type="number"]{
      font-size: 3.5rem;
    }
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
    -webkit-appearance: none;
      margin: 0;
    }
    .download-btn{
      margin-top: 4rem;
    }
    .resend-para{
      margin-top: 3rem;
      font-size: 1.3rem;
       opacity: .8;
      font-weight: 900;
    }
    .resend-otp{
      color: green;
      margin-left: 4px;
    }
    .cross{
      position: absolute;
      top: -6rem;
      right: 2rem;
      font-size: 3rem;
      color: black;
      font-weight: normal;
      cursor: pointer;
      z-index: 1000;
    }
    .animate-one{
      z-index: -5;
      display: none;
      transition: all .5s;
    }
    .animate-two{
      display: block !important;
      transform: translate(0);
      transition: all .1s;
      z-index: 5;
      animation-name: swap;
      animation-duration: 2s;

      .child-div{
          height: 60rem;
        background-color: red;
      }
    }
    .child-div-increase{
      height: 60rem;
    }

    @keyframes swap{
      10%{
        visibility: hidden;
      }

      80%{
        visibility: visible;
      }
      100%{
        visibility: visible;
      }
    }
  @media screen and (max-width: 500px){
    #mod{
      margin-top: -12rem !important;
    }
    .child-div{
      height: 45rem;
      width: 35rem;
    }
    .head-two{
      font-size: 2rem;
    }
    .otp-btn{
      width: 15rem;
      margin-top: 0;
    }
    .number-field{
      width: 20rem;
    }
    .last-div{
      margin-top:2rem;
    }
    .cross{
      top: -1rem;
      right: 0;
    }

       .otp-parent{
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 1.5rem;
    }

     .otp{
      background: none !important;
      border: none;
      border-bottom: 2px solid black;
      width: 3.5rem;
      height: 3.5rem;
      text-align: center;
    }
    .otp[type="number"]{
      font-size: 2.5rem;
    }
  }
</style>

<div class="parent-div" id="otp-form-add-to-cat">
  <div class="child-div" id="child-div-add-to-cat">
    <div class="top-div">
      <img class="popuplogo" loading="lazy" src="{{ 'Exlogo_png.jpg' | asset_url }}" alt="this place is for image">
      <!--
        <span
          class="cross"
          onclick="closeModal()"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          &#x2715;</span
        >
      -->
      <div class="head-one">Get Free Access to</div>
      <div class="head-two">Latest Current Affairs<span class="head-three">E-book!</span></div>
      <p class="para">We will send you one time password to your mobile number.</p>
    </div>
    <div class="middle-div" id="middle-div-add-to-cat">
      <input
        type="number"
        id="number-add-to-cat"
        class="number-field"
        placeholder="Enter Mobile Number"
        onkeyup="validateAddToCat()"
        required
      >
      <br>
      <button class="otp-btn" id="otp-btn-add-to-cat" onclick="otpSendAddToCat()" disabled>Get OTP</button>
    </div>
    <div class="last-div" id="last-div-add-to-cat" style="display: none;">
      <p class="phone-number">Enter the OTP sent to +91<span id="phone-number-add-to-cat"></span></p>
      <br>
      <div class="otp-parent">
        <input class="otp otp-form" type="number" id="otp1-add-to-cat">
        <input class="otp otp-form" type="number" id="otp2-add-to-cat" disabled>
        <input class="otp otp-form" type="number" id="otp3-add-to-cat" disabled>
        <input class="otp otp-form" type="number" id="otp4-add-to-cat" disabled>
        <input class="otp otp-form" type="number" id="otp5-add-to-cat" disabled>
        <input class="otp otp-form" type="number" id="otp6-add-to-cat" disabled>
      </div>
      <p class="resend-para">Don't you receiver the OTP?<span class="resend-otp">Resend OTP</span></p>
      <br>
      <button
        class="otp-btn download-btn"
        id="download-btn-add-to-cat"
        onclick="downloadBtnAddToCat()"
        style="opacity: 1;"
      >
        Verify OTP<span id="download-icon-add-to-cat"><i class="bi bi-arrow-down-circle"></i></span>
      </button>
    </div>
  </div>
</div>

<script>
  
  
  
  
  let serverOtpAddToCat = '';
  otpMakerAddToCat = () =>{
     serverOtpAddToCat = Math.floor(Math.random() * 900000 + 100000);
    console.log(serverOtpAddToCat)
  }
 
       let getResponseAddToCat = {};
      let middleDivAddToCat = document.getElementById("middle-div-add-to-cat");
      let lastDivAddToCat = document.getElementById("last-div-add-to-cat");
      let childdivAddToCat = document.getElementById('child-div-add-to-cat');
  
      let phoneNumberAddToCat = "";
      otpSendAddToCat = () => {
        otpMakerAddToCat();
          phoneNumberAddToCat = document.getElementById("number-add-to-cat").value;
          middleDivAddToCat.classList.add("animate-one");
          lastDivAddToCat.classList.add("animate-two");
          childdivAddToCat.classList.add('child-div-increase');
          document.getElementById("phone-number-add-to-cat").innerHTML = phoneNumberAddToCat;
         funAddToCat();
      }
      function validateAddToCat(){
     
        const myInput = document.querySelector('#number-add-to-cat');
        if(myInput.value.length == 10) {
            document.getElementById("otp-btn-add-to-cat").disabled = false;
          document.getElementById("otp-btn-add-to-cat").style.opacity = "1";
        }
        else{
           document.getElementById("otp-btn-add-to-cat").disabled = true;
           document.getElementById("otp-btn-add-to-cat").style.opacity = "0.5";
        }
      }

      async function funAddToCat(){
        let url = `https://bhartipur.in:5000/send_otp_get/${phoneNumberAddToCat}/${serverOtpAddToCat}`;
       fetch(url).then(response => {
          if (!response.ok) {
            throw new Error('Network response was not ok');
          }
        })
        .then(data => {
          console.log(data);
        })
        .catch(error => {
          console.error('Error:', error);
        });
      }


   const inputsAddToCat = document.querySelectorAll(".otp-form"), buttonAddToCat = document.querySelector("#otp-btn-add-to-cat");

    inputsAddToCat.forEach((input, index1) => {
      input.addEventListener("keyup", (e) => {
        const currentInput = input,
          nextInput = input.nextElementSibling,
          prevInput = input.previousElementSibling;
          if (currentInput.value.length > 1) {
            currentInput.value = "";
            return;
          }
          if (nextInput && nextInput.hasAttribute("disabled") && currentInput.value !== "") {
            nextInput.removeAttribute("disabled");
            nextInput.focus();
          }
          if (e.key === "Backspace") {
            inputsAddToCat.forEach((input, index2) => {
              if (index1 <= index2 && prevInput) {
                input.setAttribute("disabled", true);
                input.value = "";
                prevInput.focus();
              }
            });
          }
          if (!inputsAddToCat[3].disabled && inputsAddToCat[3].value !== "") {
            buttonAddToCat.classList.add("active");
            return;
          }
          buttonAddToCat.classList.remove("active");
      });
  });
    window.addEventListener("load", () => inputsAddToCat[0].focus());

    downloadBtnAddToCat = () =>{
        let otpInput1 = document.getElementById('otp1-add-to-cat').value;
        let otpInput2 = document.getElementById('otp2-add-to-cat').value;
        let otpInput3 = document.getElementById('otp3-add-to-cat').value;
        let otpInput4 = document.getElementById('otp4-add-to-cat').value;
        let otpInput5 = document.getElementById('otp5-add-to-cat').value;
        let otpInput6 = document.getElementById('otp6-add-to-cat').value;
      
        let finalOtp = otpInput1.toString() + otpInput2.toString() + otpInput3.toString() + otpInput4.toString()+otpInput5.toString()+otpInput6.toString();
        let parseOtp = parseInt(finalOtp);
        if(parseOtp == serverOtpAddToCat){
          localStorage.setItem("globalOtpKey", phoneNumberAddToCat);
            clearAllFormAddToCat();
        }
        else{
          alert("fail");
        }
    }

openModalAddToCat = () =>{
    
    document.getElementById("otp-form").style.display = "block";
 
    
}

clearAllFormAddToCat = () => {

   let otpInput1 = document.getElementById('otp1-add-to-cat').value;
  let otpInput2 = document.getElementById('otp2-add-to-cat').value;
  let otpInput3 = document.getElementById('otp3-add-to-cat').value;
  let otpInput4 = document.getElementById('otp4-add-to-cat').value;
  let otpInput5 = document.getElementById('otp5-add-to-cat').value;
  let otpInput6 = document.getElementById('otp6-add-to-cat').value;
  
  otpInput1 = "";
  otpInput2 = "";
  otpInput3 = "";
  otpInput4 = "";
  otpInput5 = "";
  otpInput6 = "";
  
  lastDivAddToCat.classList.remove('animate-two');
  middleDivAddToCat.classList.remove('animate-one');
  document.getElementById('number-add-to-cat').value = ""; 
   let mainClass = document.querySelector('.modal-backdrop');
  mainClass.style.display = "none";
  document.getElementById('myModal2').style.display = 'none';
}
closeModalAddToCat = () =>{
  clearAllFormAddToCat();
  document.getElementById('myModal2').style.display = 'none';
  
}







































































































































</script>
