<!--Newsletter Area Start-->
<div class="newletter-subscribe-container">
  <div class="container-inner">
    <div class="newletter-subscribe">
      <div id="boxes-normal" class="newletter-container">
        <div style="" id="dialog-normal" class="window">
          <div class="box">
            <div class="newletter-title">
              <h5>{{ 'layout.footer.newsletter_title_1' | t }}</h5>
              <p class="des">
                {{ 'layout.footer.newsletter_description' | t }}
              </p>
            </div>
            <div class="box-content newleter-content">
              <div id="frm_subscribe-normal">
                {% include 'newsletter-form' %}
              </div>
              <!-- /#frm_subscribe -->
            </div>
            <!-- /.box-content -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /.box -->