<style></style>

<div>
  <span style="color: #8ABD1E;">Code: </span>
  <span> {{ product.variants.first.sku }} |</span>
  <span style="color: #8ABD1E;">Pages: </span>
  <span>{{ pages }}</span>
</div>
